[#ftl]

[#--INSERT HEAD--]
[#macro head assetPrefix=""]

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>BTLab test task</title>

    <link href="${assetPrefix}/static/css/styles.min.css" rel="stylesheet">


    <!--[if lt IE 9]>
  <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

[/#macro]

[#--INSERT SCRIPTS--]
[#macro script assetPrefix=""]

<script src="${assetPrefix}/static/js/scripts.min.js"></script>


[/#macro]